.WelcomeHeader {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #313e51;
  margin: 32px 0 0 0;
  margin-left: 24px;
}

.h1span {
  font-weight: 500;
}

h3 {
  color: #626c7f;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
  margin-top: 16px;
  margin-left: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #313e51;
  margin-left: 16px;
}

header {
  margin-left: 24px;
}

li {
  list-style-type: none;
  width: 327px;
  height: 64px;
  background-color: white;
  margin-bottom: 12px;
  padding-left: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}
